@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 border-bottom mb-3">Welcome to UCB!</h1>
    <img class="img-fluid" style="height: auto; max-width: 100%;" src="~/pics/cinnamorollwelcome.gif" />
</div>