@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 border-bottom mb-3">Welcome to UCB!</h1>
    <img src="https://qph.cf2.quoracdn.net/main-qimg-3d92424a4b928a9f0ef4eb9214526b06-pjlq" />
    <p>Learn about <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">snorlax</a>.</p>
</div>
