################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentPortal/Migrations
.vs
/StudentPortal/Properties
/StudentPortal/bin
/StudentPortal/obj
/.vs
