@{
	ViewData["Title"] = "Schedule Entry";
}

@model StudentPortal.Models.Entities.Schedules

<h1>Schedule Entry</h1>

@if (ViewBag.Message != null && (ViewBag.Message.Contains("registered") || ViewBag.Message.Contains("schedule") || ViewBag.Message.Contains("Invalid")))
{
	<div class="alert alert-danger mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}
else if (ViewBag.Message == "Schedule added.")
{
	<div class="alert alert-success mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}

<form method="post" id="form">
	<div class="mt-3">
		<label class="form-label">EDP Code</label>
		<input type="number" class="form-control shadow-lg" id="edpcode" name="edpcode" asp-for="EDPCode" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Subject Code</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="subjectcode" asp-for="SubjCode" maxlength="15" required />
	</div>

	<div class="row">
		<div class="col mt-3">
			<label class="form-label">Time Start</label>
			<input type="time" class="form-control shadow-lg" name="starttime" asp-for="StartTime" required />
		</div>

		<div class="col mt-3">
			<label class="form-label">Time End</label>
			<input type="time" class="form-control shadow-lg" name="endtime" asp-for="EndTime" required />
		</div>
	</div>

	<div class="mt-3" id="daysform">
		<legend>Days</legend>
		<div>
			<input class="form-check-input" type="checkbox" value="MON" id="monday" />
			<label class="form-check-label" for="monday">Monday</label>
		</div>
		<div>
			<input class="form-check-input" type="checkbox" value="TUE" id="tuesday" />
			<label class="form-check-label" for="tuesday">Tuesday</label>
		</div>
		<div>
			<input class="form-check-input" type="checkbox" value="WED" id="wednesday" />
			<label class="form-check-label" for="wednesday">Wednesday</label>
		</div>
		<div>
			<input class="form-check-input" type="checkbox" value="THU" id="thursday" />
			<label class="form-check-label" for="thursday">Thursday</label>
		</div>
		<div>
			<input class="form-check-input" type="checkbox" value="FRI" id="friday" />
			<label class="form-check-label" for="friday">Friday</label>
		</div>
		<div>
			<input class="form-check-input" type="checkbox" value="SAT" id="saturday" />
			<label class="form-check-label" for="saturday">Saturday</label>
		</div>

		<!-- Tooltip message (initially hidden) -->
		<div id="tooltipMessage" style="color: red; display: none; margin-top: 10px;">
			Please select at least one day.
		</div>
	</div>

	<!-- Hidden field to store concatenated values -->
	<input type="hidden" asp-for="Days" id="days" required/>

	<div class="mt-3">
		<label class="form-label">Room</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="room" asp-for="Room" maxlength="5" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Max Size</label>
		<input type="number" class="form-control shadow-lg" name="maxsize" asp-for="MaxSize" required />
	</div>

	<div class="row">
		<div class="col mt-3">
			<label class="form-label">Course</label>
			<select id="course" name="course" class="form-select shadow-lg" asp-for="Course">
				<option value="BSIT">BSIT</option>
				<option value="BSIS">BSIS</option>
				<option value="BSN">BSN</option>
			</select>
		</div>

		<div class="col mt-3">
			<label class="form-label">Section</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="section" asp-for="Section" maxlength="3" required />
		</div>
	</div>
	

	<div class="mt-3">
		<label class="form-label">Curriculum Year</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="schoolyear" asp-for="SchoolYear" maxlength="10" required />
	</div>

	<div class="mt-3">
		<button type="submit" id="submitBtn" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-danger" onclick="clearForm()">Cancel</button>
	</div>
</form>

<script>
	function clearForm() {
		document.getElementById("form").reset();
	}

	const edplimit = document.getElementById('edpcode');

	edplimit.addEventListener('input', function () {
		if (edplimit.value.length > 9) {
			edplimit.value = edplimit.value.slice(0, 9)
		}
		if (edplimit.value < 1) {
			edplimit.value = ''
		}
	});
</script>
