html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Ysabeau SC', sans-serif;
}

h1 {
    font-family: 'Autour One', sans-serif;
}

/* custom css*/
.bg-color1 {
    background-color: #FAFFAF;
}

.bg-color4 {
    background-color: #0F67B1;
}

.border-transition {
    transition: opacity 1s ease-in-out;
}

.border-fade{
    opacity: 1;
}