@{
	ViewData["Title"] = "Subject Entry";
}

@model StudentPortal.Models.SubjectsViewModel

<h1>Subject Entry</h1>

@if (ViewBag.Message != null && ViewBag.Message.Contains("registered"))
{
	<div class="alert alert-danger mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}
else if (ViewBag.Message == "Subject added.")
{
	<div class="alert alert-success mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}

<form method="post" id="form">
	<div class="mt-3">
		<label class="form-label">Subject Code</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="subjectcode" asp-for="SubjCode" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Description</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="subjdesc" asp-for="SubjDesc" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Units</label>
		<input type="number" class="form-control shadow-lg" name="subjunits" asp-for="SubjUnits" required />
	</div>

	<div class="row">
		<div class="col mt-3">
			<label class="form-label">Offering</label>
			<select id="offering" class="form-select shadow-lg" name="subjregofrng" asp-for="SubjRegOfrng">
				<option value="1">First Semester</option>
				<option value="2">Second Semester</option>
				<option value="3">Summer</option>
			</select>
		</div>

		<div class="col mt-3">
			<label class="form-label">Category</label>
			<select id="category" class="form-select shadow-lg" name="subjcategory" asp-for="SubjCategory">
				<option value="LEC">Lecture</option>
				<option value="LAB">Laboratory</option>
			</select>
		</div>

		<div class="col mt-3">
			<label class="form-label">Course Code</label>
			<select id="coursecode" name="coursecode" class="form-select shadow-lg" asp-for="SubjCourseCode">
				<option value="BSIT">BSIT</option>
				<option value="BSIS">BSIS</option>
				<option value="BSN">BSN</option>
			</select>
		</div>
	</div>

	<div class="mt-3">
		<label class="form-label">Curriculum Year</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="subjcurrcode" asp-for="SubjCurrCode" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Requisite</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" name="subjrequisite" asp-for="SubjRequisite" />
	</div>

	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-danger" onclick="clearForm()">Cancel</button>
	</div>

</form>

<script>
	function clearForm() {
		document.getElementById("form").reset();
	}

	function search() {
		document.getElementById("code").innerHTML = ""
	}
</script>
