@{
	ViewData["Title"] = "Delete Student";
}

@model StudentPortal.Models.Entities.Students

<h1>Delete Student</h1>

@if (Model is null)
{
	@if (ViewBag.Message == "ID Not Found." && ViewBag.Search == true)
	{
		<div class="alert alert-danger mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
	<form action="/Students/Delete" method="get" id="search">
		<label class="form-label">ID Number</label>
		<input type="text" class="form-control" name="idnumber1" id="idnumber1" required />
		<button onclick="search()" class="btn btn-primary mt-2">Search</button>
	</form>
}
else
{

	<form method="post">

		<div class="mt-3">
			<label class="form-label">ID</label>
			<input type="text" class="form-control" asp-for="StudID" name="idnumber2" id="idnumber2" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">First Name</label>
			<input type="text" class="form-control" asp-for="StudFName" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">Middle Name</label>
			<input type="text" class="form-control" asp-for="StudMName" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">Last Name</label>
			<input type="text" class="form-control" asp-for="StudLName" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">Course</label>
			<input type="text" class="form-control" asp-for="StudCourse" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">Year</label>
			<input type="text" class="form-control" asp-for="StudYear" readonly />
		</div>

		<div class="mt-3">
			<label class="form-label">Remarks</label>
			<input type="text" class="form-control" asp-for="StudRemarks" readonly />
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-danger">Delete</button>
		</div>

	</form>
}

<script>
	function search() {
		document.getElementById('search').addEventListener('submit', function (event) {
			var idnumber = document.getElementById('idnumber').value;

			this.action = "/Students/Delete/" + encodeURIComponent(idnumber);
		});
	}
</script>
