@{
	ViewData["Title"] = "Student Edit";
}

@model StudentPortal.Models.Entities.Students

<h1>Student Edit</h1>

@if (Model is null)
{
	@if (ViewBag.Message == "ID Not Found." && ViewBag.Search == true)
	{
		<div class="alert alert-danger mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
	<form action="/Students/Edit" method="get" id="search">
		<label class="form-label">ID Number</label>
		<input type="number" class="form-control shadow-lg" name="idnumber" id="idnumber" required />
		<button onclick="search()" class="btn btn-primary mt-2">Search</button>
	</form>
}
else
{

	<form method="post">
		<input type="hidden" name="idnumber1" value="@ViewBag.ID" />

		<div class="mt-3">
			<label class="form-label">ID Number</label>
			<input type="number" class="form-control shadow-lg" asp-for="StudID" name="idnumber2" id="idnumber2" />
		</div>

		<div class="row">
			<div class="col mt-3">
				<label class="form-label">First Name</label>
				<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudFName" />
			</div>

			<div class="col mt-3">
				<label class="form-label">Middle Name</label>
				<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudMName" />
			</div>

			<div class="col mt-3">
				<label class="form-label">Last Name</label>
				<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudLName" />
			</div>
		</div>

		<div class="mt-3">
			<label class="form-label">Course</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudCourse" />
		</div>

		<div class="mt-3">
			<label class="form-label">Year</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudYear" />
		</div>

		<div class="mt-3">
			<label class="form-label">Remarks</label>
			<select id="remarks" class="form-select shadow-lg" asp-for="StudRemarks">
				<option value="Shiftee">Shiftee</option>
				<option value="Transferee">Transferee</option>
				<option value="New">New</option>
				<option value="Old">Old</option>
				<option value="Cross-Enrollee">Cross-Enrollee</option>
				<option value="Returnee">Returnee</option>
			</select>
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>

	</form>
}

<script>
	function search(){
		document.getElementById('search').addEventListener('submit', function (event) {
			var idnumber = document.getElementById('idnumber').value;

			this.action = "/Students/Edit/" + encodeURIComponent(idnumber);
		});
	}
</script>
