@{
	ViewData["Title"] = "Student Entry";
}

@model StudentPortal.Models.StudentsViewModel

<h1>Student Entry</h1>

@if (ViewBag.Message == "Student is already registered.")
{
	<div class="alert alert-danger mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}
else if (ViewBag.Message == "Student added.")
{
	<div class="alert alert-success mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}

<form method="post" id="form">
	<div class="mt-3">
		<label class="form-label">ID Number</label>
		<input type="number" class="form-control shadow-lg" asp-for="StudID" name="idnumber" id="idnumber" required />
	</div>

	<div class="row">
		<div class="col mt-3">
			<label class="form-label">First Name</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudFName" id="firstname" maxlength="15" required />
		</div>

		<div class="col mt-3">
			<label class="form-label">Middle Name</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudMName" id="middlename" maxlength="15" />
		</div>

		<div class="col mt-3">
			<label class="form-label">Last Name</label>
			<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudLName" id="lastname" maxlength="15" required />
		</div>

	</div>

	
	<div class="mt-3">
		<label class="form-label">Course</label>
		<input type="text" style="text-transform: uppercase;" class="form-control shadow-lg" asp-for="StudCourse" id="course" maxlength="10" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Year</label>
		<input type="number" class="form-control shadow-lg" asp-for="StudYear" id="year" min="1" max="5" maxlength="1" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Remarks</label>
		<select id="remarks" class="form-select shadow-lg" asp-for="StudRemarks">
			<option value="Shiftee">Shiftee</option>
			<option value="Transferee">Transferee</option>
			<option value="New">New</option>
			<option value="Old">Old</option>
			<option value="Cross-Enrollee">Cross-Enrollee</option>
			<option value="Returnee">Returnee</option>
		</select>
	</div>

	<div class="mt-3">
		<button type="submit" class="btn btn-primary" id="submit">Save</button>
		<button type="button" class="btn btn-danger" onclick="clearForm()">Cancel</button>
	</div>

</form>

<script>
	function clearForm() {
		document.getElementById("form").reset()
	}

	const input = document.getElementById('year');

	input.addEventListener('input', function () {
		if (input.value.length > 1) {
			input.value = input.value.slice(0, 1)
		}
		if (input.value < 1 || input.value > 5) {
			input.value = ''

		}
	});
</script>